ul.sections.txtL.unselectable
	- var sections = response.alphachildren ;
	- for(var s in sections) {
		- var res = sections[s] ;
		- if(res.id == '') continue ;
		li
			a.item.rel.dispBlock.sizeR(href="#/#{lang}#{res.path + '/'}")= t('sections.' + res.id)
				span.typo.arrowindic.abs.dispNone.left0.top0.bottom0 &gt;
	- }
	
	script(type="text/javascript").
		$('.sections li a:first').each(function(i, el) {
			el.focus() ;
		} ) ;
