- var rand = parseInt(Math.random() * 9999) ;
- var isLiveStep = response.isLiveStep() ;
- if(isLiveStep){
	a.random.item.abs.thin.top0.padding(style="right:30px;top:0px", href="#/#{lang}#{response.parentStep.path + '/' + rand + '/'}")= "randomize"
		span.arrowindic.abs.typo.dispNone.left0.top50(style="right:30px;top:10px") &gt;
	script(type="text/javascript").
		$('.random').focus() ;
- }
