extends ./basesection
block content
	.box
		include ./nav
		include ./indicator
	.sizeR

		p.txtL.Hpadding
			| !{t('about.about_main')}
		.flex.Vmar.LmarXSm.RmarXXLg(class="gap-[2px] max-w-68")
			- if(response.id == 'intro'){
				//- +gen_link(t('ui.next'), '#/'+ lang + response.path+'/intro/', 'grow')
				+gen_link('<', '#/'+ lang + response.parentStep.path + '/', 'w-10 typo')
				+gen_link(t('sections.projects'), '#/'+ lang + '/projects' + '/', 'grow')
			- }
