doctype html
html(lang=lang, class="rel fullW fullH context")
	head
		meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
		meta(name="mobile-web-app-capable", content="yes")
		meta(name="mobile-web-app-status-bar-style", content="black")
		meta(name="viewport", content="width=device-width, initial-scale=.7")
		meta(name="viewport", content="height=device-height, initial-scale=1")

		title= title
		
		link(rel="apple-touch-icon" sizes="180x180" href="/css/icons/apple-touch-icon.png")
		link(rel="icon" type="image/png" sizes="32x32" href="/css/icons/favicon-32x32.png")
		link(rel="icon" type="image/png" sizes="16x16" href="/css/icons/favicon-16x16.png")
		link(rel="manifest" href="/css/icons/site.webmanifest")
		
		link(rel="stylesheet", type="text/css", href="/css/allbis.css")
		
	body(class="rel montserrat txtC fullW fullH context")
		block content
